<<<<<<< HEAD
!!! 5
html
	head
		meta(charset="utf-8")
		title Phettwee
	body
		h1 / dayo!
		a(href="/auth") Sign in with Twitter
=======
%html
%head
%title Phettwee
%script {:"type"=>"text/javascript",:"src"=>"js/jquery-1.7.2.min.js"}
%script {:"type"=>"text/javascript",:"src"=>"js/less-1.3.0.min.js"}
%script {:"type"=>"text/javascript",:"src"=>"js/bootstrap.js"}
%body



>>>>>>> index.html
